.bg-color_secondary {
    background-color: var(--secondaryColor);
}

.bg-color_primary {
    background-color: var(--primaryColor);
}

.color_primary {
    color: var(--primaryColor);
}

.color_secondary {
    color: var(--secondaryColor);
}

.border-color_primary {
    border-color: var(--primaryColor);
}

.scale-y-30 {
    --tw-scale-y: .3;
    transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
}

h1 {
    --tw-text-opacity: 1;
    color: rgb(255 251 235 / var(--tw-text-opacity));
    font-size: 3rem;
    line-height: 1;
    text-align: center;
    margin-bottom: 4rem;
    font-weight: 700;
}