@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  /* --primaryColor: #09b1db;
  --secondaryColor: #0d1214; */
  --primaryColor: #525252;
  --secondaryColor: white;
  --terciaryColor: #525252;
}